.DS_Store
**/.idea/
.vscode/

# 过滤 build 文件夹下的文件
/build/*
!/build/.gitkeep

# 过滤个人配置
*.userdb/
installation.yaml
user.yaml
*.custom.yaml

others/script/scel2txt/out/*
others/script/scel2txt/scel/*

*private*

rime_console
rime_deployer
rime_patch

# 官方清风便携版原始程序包与压缩包
小鹤音形_清风便携版*/
*.zip
*.7z

# 本地测试工具二进制
others/script/test_engine
